*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
   
}
body{
    background: linear-gradient(90deg,rgb(170, 116, 206),rgb(0, 255, 157));
    background-repeat: no-repeat;
}
.nav_bar{
    display: flex;
    background-color: #ffffff;
    opacity: 0.6;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    height: 70px;
}
.nav_left{
    width: 80%;
    color: rgb(155, 5, 255);
    padding-left: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.nav_right{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; 
}
.home,.signup,.login{
    height: 30px;
    border: none;
    outline: none;
    
}
a{
    color: rgb(155, 5, 255);
    text-decoration: none;
   padding: 10px;
   background-color: rgb(158, 152, 152);
}
a:hover{
    background-color:rgb(155, 5, 255);
    color: rgb(158, 152, 152);
}
.head{
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 0.3;
    height: 40px;
}
.content{
    display: flex;
    padding-left: 10px;
    font-size: 22px;
    color: rgb(252, 251, 251);
}
.container{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(90deg,rgb(46,57,59),rgb(232,67,147)); */
}
.wrapper{
    width:100%;
    height: 100%;
    position: relative;
    /* align-items: center; */
}
.wrapper .one{
    width: 70px;
    height: 70px;
    border: 5px solid white;
    position: absolute;
}
.wrapper .one:nth-child(1){
    top: 30%;
    left: 0%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(2){
    top: 10%;
    left: 30%;
    animation: square 5s linear infinite;
}
.wrapper .one:nth-child(3){
    top: 20%;
    left: 40%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(4){
    top: 30%;
    left: 70%;
    animation: square 5s linear infinite;
}
.wrapper .one:nth-child(5){
    top: 40%;
    left: 90%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(6){
    top: 50%;
    left: 80%;
    animation: square 5s linear infinite;
}
.wrapper .one:nth-child(7){
    top: 60%;
    left: 50%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(8){
    top: 60%;
    left: 30%;
    animation: square 5s linear infinite;
}
.wrapper .one:nth-child(9){
    top: 70%;
    left: 0%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(10){
    top: 50%;
    left: 60%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(11){
    top: 40%;
    left: 15%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(12){
    top: 80%;
    left: 80%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(13){
    top: 90%;
    left: 50%;
    animation: square 8s linear infinite;
}
.wrapper .one:nth-child(14){
    top: 80%;
    left: 20%;
    animation: square 8s linear infinite;
}
@keyframes square {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.2) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
/* .wrapper{
    position: absolute;
    top: 20%;
    left: 40%;
} */
.main{
    display: flex;
    top: 20%;
    width: 100%;
    /* left: 40%; */
    justify-content: center;
    position: absolute;
}
#search{
   
   padding-left: 5px;
    color: white;
    cursor: pointer;
}
#fname{
    outline: none;
}
.git{
    position: absolute;
    display: flex;
    top: 30%;
    width: 100%;
    height: auto;
    justify-content: center;
}
.git_block{
    position: absolute;
    display: flex;
    flex-direction: column;
   
    top: 30%;
    /* left: 35%; */
    width: 30vw;
    height: auto;
    opacity: 0.6;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
}
.main_info, .about{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.name{
    font-size: 25px;
}

#prof_img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    margin: 10px 0;
}
hr{
    margin: 10px;
}
.bio{
    font-size: 25px;
    margin-left: 20px;
}
.repos{
    font-size: 20px;
}
.follow{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
     /* flex-direction: column; 
     align-items: center;  */
}
.followers{
    margin-right: 20px;
    font-size: 20px;
}
.followings{
    margin-left: 20px;
    font-size: 20px;
}
@media screen and (max-width: 970px) {
 .main{
    flex-direction: column;
    align-items: center;
 }
 #fname{
     width: fit-content;
 }
 .followers{
     font-size: 15px;
 }
 .followings{
     font-size: 15px;
 }
 .git_block{
    width: 60%;
 }
}
@media screen and (max-width: 514px){
    .follow{
        flex-direction: column;
        align-items: center;
    }
    .followers{
        font-size: 12px;
        margin: 0px;
    }
    .followings{
        font-size: 12px;
        padding-top: 5px;
        margin: 0px;
    }
    .bio,.name{
        font-size: 17px;
    }
    .repos{
        font-size: 12px;
    }
}